* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

body {
  background-image: url("./images/image01.jpg");
}

.links {
  text-align: center;
  font-size: xx-large;
  padding: 50px 0;
  color: white;
}

.home {
  text-align: center;
  font-size: 100px;
  padding: 70px 0;
  color: aqua;
}

.links ul {
  display: inline;
}

.links ul li a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

.links img {
  border-radius: 50%;
}

.links ul li a:hover {
  color: red;
}

.abt {
  color: beige;
}

.abt h1 {
  margin: 20px;
}

.abt p {
  font-size: xx-large;
  text-align: center;
}

.title {
  text-align: center;
  font-size: xx-large;
  color: white;
}

.bod {
  text-align: center;
  font-size: xx-large;
  color: wheat;
}

#skill {
  align-items: center;
  color: white;
}

#skill img {
  border: 4px solid green;
}

#contacts {
  color: wheat;
}
